
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

@font-face {
    font-family: 'Roboto';
   
    src: url('fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Condensed';
   
    src: url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto Condensed';
   
    src: url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Light';
   
    src: url('fonts/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}


body, .list, .page
{
	font-family: "Roboto";
}
 .navigation-bar__center, .navigation-bar__left, .navigation-bar__right,.navigation-bar,.navigation-bar__item
{
	font-family: 'Roboto Condensed';
	
	

}
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
	{
		font-family: 'Roboto Condensed';
		color: #fff;
	}
.left {
	text-align: left;
}

.page--legacy__content
{
	background:url(../images/homebg.jpg) bottom;
	background-size: cover;
	color:#fff ;
	
}


.page--dotted__content
{
	  background: url(../images/slide1.jpg) ;
     
  /*background:url(../images/homebg.jpg) bottom;*/

  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/slide1.jpg) !important; /* Standard syntax */
  
  background-size: cover !important;
	background-size: cover !important;
	color:#fff ;
	
}

.page--inner__content
{
	background: #f1f2f7 !important;

}

.page--stats__content
{
	margin-top: 40px;

}

.mini
{
	color: rgba(0,0,0,.6);
	font-size: .8em;
	margin: 0;
	padding: 0;
	float: left;
	width: 50px;
	height: 60px;
padding-top: 10px;
padding-bottom: 10px;

}

.bft-phone
{
	float: left;
	height: auto!important;
}


.overlay
{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 1000000;
}
.navigation-bar--legacy
{
	background:url(../images/bgdot.png) ;
	background-size: cover;
	font-size: 1.2em;
	color: #fff !important;


	
}

.navigation-bar--double
{
	background:url(../images/bgdot.png) ;
	background-size: cover;
	font-size: 1.2em;
	color: #fff !important;
	height: 18px !important;
	line-height: 0;


	
}

.navigation-bar--legacy .center,.navigation-bar--double .center, .navigation-bar--legacy .right, .navigation-bar--legacy .ons-icon,.navigation-bar--legacy .left,.navigation-bar--legacy .center
{
	color: #fff !important;
}

.navigation-bar--legacy_transparent
{
	background: rgba(255,255,255,.1);
	font-size: 1.2em;
	color: #fff !important;


	
}

.homestyle
{
	padding: 55px 40px 0;  text-align: center;
	font-size: 1.2em;
}
.home_float
{
position: absolute;
	bottom: 0;
	width: 100%;

}

.home
{

	margin: 40px auto 100px;
	width: 75%;
	
	border-radius: 5px;
	
}

.list__item--home
{
	line-height: 20px;
	padding: 20px;

}

span.small
{
	display: block;
	font-size: .8em;
}


.faq
{
	margin: 30px auto 100px;
	width: 80%;
	background: rgba(255,255,255,.1);
	border-radius: 5px;
	padding: 20px;

}


.pod
{
	margin: 1em auto;
	
	background: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 1em;
	margin:3px;
	color: #000;
	overflow: auto;
	text-align: center;
color: #6d6d6d;
font-family: 'Roboto Light';

padding: 40px 30px;
overflow: auto;

}

.whitepod
{
	
	background: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 0;
	margin:0 1em 1em;
	color: #000;
	overflow: auto;
	text-align: center;
	color: #6d6d6d;
	font-family: 'Roboto Light';
	overflow: auto;

}


.whitepod .list__item
{
	overflow: auto;
	font-size: .9em;
	color: #000;
	font-weight: bold;
	padding: 1em;
	line-height: 1.2em;

}

.whitepod .list__item .desc
{
	float: left;
	
}


.whitepod .list__item .desc em
{
	font-weight: normal;
}
.whitepod .list__item .amount
{
	float: left;
	width: 35%;
	text-align: right;
	line-height: 1.4em;
	font-size: 1.2em;
}

select
{
	width: 100%;
	padding: 1em;
}
.whitepod em
{
	display: block;
	font-size: .7em;
	
	color: rgba(0,0,0,.6);
}

.contentpod
{
	margin: 1em auto;
	
	background: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 1em;
	margin:  .8em 1em 1em;
	color: #000;
	overflow: auto;
	text-align: left;
	color: #6d6d6d;
font-family: 'Roboto Light';
font-size: 14px;
line-height: 1.6em;

padding: 20px ;
overflow: auto;


}


.listpod
{
	margin: 1em auto;
	
	background: rgba(255,255,255,1);
	border-radius: 5px;
	margin:  .8em 1em 1em;
	color: #000;
	overflow: auto;
	text-align: left;
	color: #6d6d6d;
font-family: 'Roboto Light';
font-size: 14px;
line-height: 1.6em;

overflow: auto;


}


.list__item--chevron p
{
	padding-right: 40px;
	line-height: 1.5em;
	font-size: .9em;
}

.podhead
{
	padding: 20px 20px 0;
	color: #6d6d6d;
}


.podbg
{
	margin: 1em auto;
	
	background: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 0em;
	margin:1em;
	color: #000;
	overflow: auto;
	border: none;
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

}


.lucent strong
{
	color: green;
	font-weight: bold;

}

.activate
{
	margin: 10px auto ;
	width: 80%;
	max-width: 400px;
	
	
	border-radius: 5px;
	padding: 0;
	text-align: center;

}

.activate h3
{
	font-weight: normal;
	font-size: 1em;
}

.activate input 
{
	margin-bottom: 15px;
	border: 0;
	padding: 25px 10px;
	font-size: 1.1em;
}
.activate ons-button , .activate ons-list
{
	margin-top: 15px;
}
.block
{
	width: 100%;
}

.button--delete
{
	background: none;
	color: #fff;
	font-size: .8em;
	text-align: center;
	height:50px; width:60px; padding-top:7px;  border:none; border-radius: 10%; overflow:auto; margin: 0 10px 20px 10px;
}
.button--large--cta 
	{
		background-color: #dd5600;
		color: #fff;

	}

	.button--large
	{
		background: #14b1bb;
	}

	.button--material
	{
		background: #434a54;
		border-radius: 0px;
		width: 100px;
		border:1px solid #b8f477;
		
		font-size: 1.2em;
		padding: 10px;
		
	}

	
	.button--outline
	{
		border-color: #fff;
		color: #fff;
		width:48%;
	}

	.spinner, .spinner2
	{
		display: none;
	}

	.button--large--cta:disabled, .button--large--cta[disabled] {
opacity: 1;

}


.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
background: rgba(0,0,0,.8);
 border: 1px solid rgba(0,0,0,.8); 
}


.checkbox > .checkbox__checkmark:before 
	{
			 border: 1px solid #fff;
	}


.highcharts-yaxis-title
 {
 	display: none;
 }
.pod .highlight {
display: block;
color: #dd5600;
font-size: 15px;
/*font-weight: bold;*/
font-family: 'Roboto Condensed';
}

.podfooter
{
	border-top: 1px solid #f1f1f1; 
	padding: 10px;
	margin-top: 20px;
	margin-right: -20px;
	margin-left: -20px;
	overflow: auto;
}

.pull-right
{
	float: right;
}



.info
{
	float: left;
	font-size: 1.3em;
	color: rgba(255,255,255,.8);
	max-width: 420px;
	margin:25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 20px 0;

	
}

.text
{
	float: left;
	max-width: 250px;
	margin-top: 20px;
}

.profile
{
	display: block;
	margin: 1em auto;
	
	background: rgba(255,255,255,.1);
	border-radius: 5px;
	padding: 1em;
	margin:1em;
	color: #000;
	font-size: .8em;
	text-align: center;
	color: #00923e;

}

.profile .highlight
{
	color: rgba(0,0,0,.4);
}
.profile img {
width: 90px;
height: 90px;
border-radius: 50%;
border: 3px solid #f1f2f7;
margin: 0 auto;
display: block;
}

.splash
{
	background:url(../images/splash.png) bottom;
	background-size: 100%;
	
	color:#fff ;
	padding: 10px 0;
	margin-top: 0;
	width: 100%;
	
	overflow: hidden;

	
}

.splash .info span
{
	color: rgba(255,255,255,.6);
	display: block;
	text-transform: uppercase;
	font-size: .6em;
}

.hidden
{
	display: none;
}

.nopad
{
	padding: 0;
}

.button--white
{
	color: #fff;
	background: none;
}

.top
{
	margin: 15px;
}

.podlist
{
	border-left: 8px solid #a9b42e;
	padding: 20px;
	text-align: left;
	font-size: .8em;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
}


.indicator
{
	width: 100%;
	height: 5px;
	margin: 5px 0; 
}

.indicator > div
{
	float: left;
}
.indicator .green
{
	height: 100%;
	background:  #a9b42e;


}

.indicator .blue
{
	height: 100%;

	background:  #0074ae;



}
.podlist span
{
	
	font-weight: bold;
	font-size: 1.1em;
	color: #000;

}

.itemtext
{
	line-height: 1em;
	font-weight: bold;
	font-size: .8em;
	overflow: auto;
	
}

.itemtext .age
{
	font-size: 1em;
	font-weight: normal;
	padding-bottom: 20px;
}

.form .list__item
{
	line-height: 0;
	padding-top: 15px;
}


.content-padded
{
	padding: 10px 0;
}
.podlist.blue
{
	border-left: 8px solid #0074ae;
}

.navigation-bar--double .navigation-bar__right .toolbar-button
{
	width: 33%;
}
.navigation-bar--double .navigation-bar__right
{
	display: block;
	width: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 1.5em;

}


.yellow
{
	color: #b8f477;
	font-weight: 2em;
}

.doublebox
{
	position: absolute;
	top: 108px;
	
	z-index: 9;
	width: 100%;
}

.scroller
{
	height: 400px;
	top:88px;
	bottom: 60px;
	z-index: 9;
}
.boxfooter
{
	position: fixed;
	height: 60px;
	bottom: 0;
	background: #434a54;
	text-align: center;
	width: 100%;
	z-index: 10;
	-webkit-user-select: none;
}

.boxfooter .button--large
	{
		line-height: 1.5em;
		border-radius: 0;
	}

.pod .list
{
	font-size: .9em;
	
}
.list-item-container {
  line-height: 1;
  padding: 15px 0px ;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 12px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.4;
  font-size: 13px;
  margin-bottom: 5px;
}
 .amount
{
	color: #a0d468;
	font-size: 14px;
	text-align: right;
}


.page--menu__content
{
	background: #32323a;
	color: #aeb2b7;
	border:none;
	
}

.list--menu
{
	background: none;
	color: #aeb2b7;
	margin: 0px 0;
	padding: 0 20px; 
	font-size: .7em;
	text-transform: uppercase;
	border:none;
}

.list--menu .list--item
{
	border-bottom: 1px solid rgba(255,255,255,0.05);

}


.list--menu .ons-icon
{
	margin-right: 10px;
}
.list--menu .list__item
{
	color:#fff;
	background: none;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	padding: 10px 0 ;
}

ons-list-item > ons-icon {
  margin: 0 4px 0 0;
  opacity: 0.8;
}

.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3;
}

.list-item-action > ons-icon {
  margin-top: 14px;
}

.list-item-note {
  
  font-size: 14px;
  display: block;
 
  float: right;
  padding-right: 40px;
}


.list-item-body
{
	float: left;
	 

}
.list-item-note > .notification {
  margin-top: 12px;
}

.lucent, #date {
  opacity: 0.4;
}

.listholder
{
	margin: 20px;

}


.listholder .list__item
{
	font-size: .8em;
	line-height: 1.5em;
	padding: 1em ;
}

.green
{
	color: green;
}

.red
{
	color: red;
}

.navtext
{
	margin-left: 20px;
}


.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}
.send_text{
	display: inline-block;
	background-color: #00923e;
	color: #fff;
}
#calcResult{
	display: none;
}

.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}


.width-third {
  width: 30%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  
}

input[type=text],
input[type=password],input[type=email],input[type=tel] {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

select
{
	margin: 10px 0;
	padding: 10px 0;
}
.rider
{
	text-align: center;
	font-size: .8em;
	font-style: italic;
	padding: 10px 10px ;
}

.pin_brand{margin-top:0px;margin-bottom:15px;}
.group_brand{margin-top:0px;margin-bottom:25px;}
.pinpad{height:65%;width:100%;}
#pinbox{margin-bottom:10px;width:306px;max-width:306px;margin:auto;margin-bottom:30px; color:#fff; font-size:30px; text-align:center }
.pinkeypad{width:246px;max-width:246px;margin:auto; overflow: auto; }
.pinkey, .pinkey a{text-decoration:none;font-weight:bold;font-size:23px;text-align:center;float:left;color:#FFF;text-shadow:none;margin-bottom:20px;display:block; height:50px; width:60px; padding-top:7px; background:rgba(255,255,255,.1); border:none; border-radius: 10%; overflow:auto; margin: 0 10px 20px 10px;}
.pinkeydud{background:none;}
.pinkeyspace{}
#pinbox i
{
	margin-right:10px;
}

.footer
{
	
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #f1f2f7;
	position: fixed;


}

.footer .btn
{
	margin: 1em;
}

.description
{
	font-weight: normal;
	font-size: .8em;
}

.currency
{
	font-weight: bold;
	font-size: 1.3em;
	color: green;
}


.button--light, .button--cta
{
	width: 100%;
	text-align: center;
}

.pass
{
    -webkit-text-security: disc;

}

.text-input--underbar
{
	text-transform: uppercase;
	font-size: .9em;
}

.airtime
{
	background:url(../images/airtime-bg.png) ;
	
	
	height: 100px;
	background-size: cover;
	margin:1em;
	border:1px solid #ccc;

}

.airtimeholder
{
	background:url(../images/airtime.png) no-repeat right ;
	height: 100px;
	
	color: #000;
	overflow: auto;

}

#holder
{
	display: none;	
}
.airtimeholder span
{
	margin: 15px 30px;
	background: rgba(0,0,0,.1);
	width: 60%;
	display: block;
	font-weight: bold;
	padding: 10px;

}

.button--white
{
	color: #fff;
	background: none;


}
.share{
	display: inline-block;

margin: 10px;
}
.ring{
	border: 2px solid #f5961d;
border-radius: 68%;
height: 100px;
width: 100px;
}





